.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-side{
    display: flex;
    align-items: center;
}

.ham-menu{
    height: 20px;
    margin-left: 25px;
    margin-right: 20px;
}

.foo-logo{
    height: 30px;
}

.middle-side{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 60px;
    margin-right: 40px;
    max-width: 475px;
}

.search-bar{
    flex: 1;
    height: 33px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(184, 184, 184);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.07);
}

.search-icon{
    height: 28px;
    margin-top: 2px;
}

.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-button{
    height: 36px;
    width: 60px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(184, 184, 184);;
    margin-left: -1px;
    margin-right: 10px;
}

.voice-button{
    height: 36px;
    width: 40px;
    border-radius: 18px;
    background-color: transparent;
    border: none;
}

.voice-icon{
    height: 35px;
    margin-right: 4px;
}

.right-side{
    width: 200px;
}